@import url(./font.css);
@import url(./toastify.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

* { @apply font-IranSans }

body { @apply bg-background overflow-x-hidden }

#__next { @apply h-screen }

/* custom classNames */

@layer utilities {
   .animation-delay-100 {
      animation-delay: .1s;
      
   }
   
   .animation-delay-200 {
      animation-delay: .2s;
   }
   
   .animation-delay-300 {
      animation-delay: .3s;
   }
   
   .animation-delay-400 {
      animation-delay: .4s;
   }
}